/* This stylesheet contains universal rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

:root{
    font-size: 20px;
}

body{
    margin-top: 15vh;
    background-image: url("../images/background-image-modified.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a:visited,
a:link{
    color: inherit;
}

input, 
textarea{
    font-size: 80%;
    padding: 0 0.5rem;
    width: auto;
}

/* table css */

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235,235,235);
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}